.footer {
  margin: auto;
  width: 100%;
  position: relative;
}
.footer-inner {
  margin: auto;
  width: 80%;
  position: relative;
}
.footer-top {
  width: 100%;
}
.ft-navi{
  width: 80%;
  margin: auto;
}
.ft-navi > ul {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.ft-navi > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.footer-bottom {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.ft-left {
  width: 20%;
}
.ft-left > a {
  display: inline-block;
  justify-content: center;
  line-height: 1.5;
}
.ft-center {
  width: 40%;
}
.ft-center > p > a {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(138, 138, 138);
}
.ft-right {
  width: 30%;
}
.ft-r-top {
  display: flex;
  width: 100%;
  padding: 20px;
}
.ft-r-top > a > img {
  width: 50px;
  margin-right: 10px;
}
.ft-r-bottom {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
}
.ft-r-bottom > a > p > span {
  font-size: 1rem;
  color: rgb(138, 138, 138);
  text-decoration: none;
}

@media screen and (max-width: 1010px) {
  /* 푸터탑 */
  .footer-top {
    width: 100%;
  }
  .ft-navi {
    width: 100%;
  }
  .ft-navi > ul {
    flex-wrap: wrap;
  }

  .ft-navi > ul > li {
    width: calc(100% / 4);
  }

  /* 푸터바텀 */
  .footer-bottom {
    flex-direction: column;
    width: 100%;
  }
  .ft-left {
    width: 100%;
  }

  .ft-center {
    width: 100%;
  }
  .ft-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ft-r-top {
    margin: 10px;
    width: calc(100% - 350px);
    /* flex-direction: column;  */
    padding: 5px;
  }
  /* 
@@@@@@@@@@@@@@@@@@@@@@@여기 조정하기
*/
  .ft-r-bottom {
    width: 100%;
    max-width: 350px;
    display: block;
  }
  .ft-r-bottom > a {
    width: 100%;
    display: block;
    text-align: left;
  }
}
