.news-wrap {
  width: 100%;
  /* min-width: 1300px; */
  background-color: #f7f7f7;

  /* 패딩 위치가 헷갈림 */
  padding: 100px;
}
.news-box {
  position: relative;
  width: 90%;
  background-color: #fff;
  margin: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
.news-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ff3c3c;
  content: "";
}
.news-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-scr {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.store {
  margin-top: 60px;
}
.news_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news_title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(138, 138, 138, 0.3);
  content: "";
}
.news_title > h3 {
  padding: 5px;
  font-size: 1.4rem;
}
.news_title > a {
  color: rgb(138, 138, 138);
}

.news-center {
  width: 25%;
}
.news-right {
  width: 25%;
}

@media screen and (max-width: 1010px) {
  .news-box {
    flex-direction: column;
  }
  .news-left {
    width: 100%;
  }
  .store {
    width: 100%;
  }
  .news-center {
    margin-top: 60px;
    width: 100%;
  }
  .news-right {
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* 
뉴스 글자 지우기
*/

/* 폰트 바꾸기 웨잇은 굵게 */
  /* font-size: clamp(0.8rem, 1vw, 2rem); */
  .news-scr {
    margin: auto;
  }
  .news-wrap {
    width: 100%;
    padding: 30px;
  }


   /* 마진 줄이기 */
  .news-box {
      padding: 30px;
    width: 90%;
    margin: auto;
  }
    .news-left{
        width: 100%;
padding: 0;
  }
   .news-scr {
    width: 90%;
    padding: 0;
  }
   .news-scr > a > p {
    display: none;
  padding: 0;
  }
 
  .notice{
      padding: 0;
  }
  .news-left{
    gap:0
  }
    .notice > a{
  display: none;
    }
  .news_title{
padding: 0;
  }
  .news_title > h3 {
    font-size: 16px;
  }
  .store {
    padding: 0;
  }
    .store > a {
      display: none;
    }
  .news-center {
    padding: 0;
  }
   .news-center > a {
    display: none;
  }
   .news_title{
    margin: 0;
  }
  .news-right {
   padding: 0;
  }
    .news-right >a {
      display: none;
    }
  .news_title > h3,a {
    font-size: clamp(0.8rem, 1vw, 2rem)
  }
  /* dlr@@@@@@@@@@@@@@@
  왜 , 해서 인돼는지
  */
  .news_title >a{
    font-size: clamp(0.8rem, 1vw, 2rem)
  }
}
/*
 @media screen and (max-width: 390px) {
  .news-wrap {
    padding: 50px 0;
  }

  .notice {
    margin-top: 20px;
    height: 55px;
    padding: 20px;
  }
  .store {
    margin-top: 20px;
    height: 55px;
    padding: 20px;
  }
  .news-center {
    margin-top: 20px;
    height: 55px;
    padding: 20px;
  }
  .news-right {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 55px;
    padding: 20px;
  } 
}
*/